@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    overflow-x: hidden;
    position: relative;
    overflow-x: hidden;
}

body.dark-mode {
    background-image: linear-gradient(62deg, #250a50 0%, #460b2f 100%);
    color: #ffffff;
}

body.dark-mode .ancker,
body.dark-mode .h2,
body.dark-mode .h3,
body.dark-mode .h5,
body.dark-mode #darkModeToggle {
    color: #ffffff !important;
    /* Set the text color for dark mode */
}

body.dark-mode .p,
body.dark-mode .h4 {
    color: #cfcfcf !important;
    /* Set the text color for dark mode */
}

body.dark-mode .light {
    display: block;
}

body.dark-mode .light:hover {
    color: #17CF67;
}

body.dark-mode .dark {
    display: none;
}

.light {
    display: none;
}

.dark {
    display: block;
}

::-webkit-scrollbar {
    width: 12px;
    /* width of the scrollbar */
    z-index: 999;
}

::-webkit-scrollbar-thumb {
    background-color: #4ff597;
    border-radius: 5px;
}

.contain {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    /* padding: 0 20px; */
    align-items: flex-start;
    /* background-color: rgb(145, 255, 172); */
}

.uppernav {
    width: 100%;
    max-width: 1300px;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.nav {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
    /* background-color: aqua; */
}

.nav .logo {
    width: 200px;
    height: 60px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 10px;
    z-index: 999;

}

.nav .logo img {
    width: 200px;
    height: auto;
    z-index: 999;

}

#darkModeToggle {
    background-color: transparent;
    border: none;
}

#darkModeToggle:hover {
    color: #17CF67;
    border: none;
}

.navlinks {
    width: fit-content;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    z-index: 999;
}

.ancker {
    text-decoration: none;
    color: #171818;
    transition: ease;
    z-index: 999;

}

.ancker:hover {
    text-decoration: none;
    background: #17CF67;
    background: linear-gradient(to right, #17CF67 0%, #2B8ECF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    text-decoration: none;
    color: white;
    transition: ease;
    z-index: 999;

}

.fa:hover {
    text-decoration: none;
    background: #17CF67;
    background: linear-gradient(to right, #17CF67 0%, #2B8ECF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section1 {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    position: relative;
}

.section1 .box1 {
    width: 50%;
    height: 100%;
    /* background-color:gray; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0 10px;

}

.section1 .box1 h2 {
    font-size: 40px;
    line-height: 1.25;
    color: #171818;
}

.section1 .box1 p {
    font-size: 18px;
    margin-top: 40px;
    color: #464747;
}

.section1 .box2 {
    width: 50%;
    height: 100%;
    /* background-color:rgb(117, 59, 59); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.section1 .box2 img {
    width: 100%;
    z-index: 1;
}

.section1 .box2 .grad {
    position: absolute;
    width: 200px;
    height: 600px;
    border-radius: 50%;
    background-color: #2B8ECF;
    transform: rotate(-40deg);
    filter: blur(80px);
    z-index: 0;
}

.section1 .box2 .grad1 {
    position: absolute;
    right: 350px;
    width: 100px;
    height: 600px;
    border-radius: 50%;
    background-color: #17CF67;
    transform: rotate(-40deg);
    filter: blur(80px);
    z-index: 0;
}

.section1 .box2 .grad3 {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #2b8dcf8c;
    transform: rotate(-40deg);
    filter: blur(80px);
    z-index: 0;
}

.section1 .box2 .grad4 {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 300px;
    height: 600px;
    border-radius: 50%;
    background-color: #17cf678a;
    transform: rotate(60deg);
    filter: blur(80px);
    z-index: 0;
}

.section2 {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.section2 .box1 {
    width: 100%;
    height: 100%;
    /* background-color:gray; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0 10px;
    margin: 10px 0;

}

.section2 .box1 h3 {
    font-size: 25px;
    line-height: 1.25;
    color: #171818;
    text-align: center;
    max-width: 50%;
}

.section2 .box1 h4 {
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.50;
    margin-top: 40px;
    color: #464747;
    text-align: center;
    padding-bottom: 15px;
}

@media only screen and (max-width: 1115px) {
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
    }

    .section1 .box1 {
        width: 80%;
        height: 400px;
        /* background-color: blue; */

    }

    .section1 .box2 {
        width: 80%;
        height: 600px;
        /* background-color: red; */

    }

    .section1 .box1 h2 {
        font-size: 40px;
        line-height: 1.25;
        color: #171818;
        text-align: center;
    }

    .section1 .box1 p {
        font-size: 18px;
        letter-spacing: .8px;
        line-height: 1.50;
        margin-top: 40px;
        color: #464747;
        text-align: center;

    }

}



.container {
    max-width: 124rem;
    height: fit-content;
    padding: 0 1rem;
    margin: 0 auto;
    /* background-color: goldenrod; */
    margin-top: 50px;
    position: relative;
}

.container .grad {
    position: absolute;
    width: 200px;
    top: -50%;
    left: 10px;
    height: 800px;
    border-radius: 50%;
    background-color: #2b8dcfc9;
    transform: rotate(-40deg);
    filter: blur(80px);
}

.container .grad1 {
    position: absolute;

    width: 200px;
    height: 900px;
    border-radius: 50%;
    background-color: #17cf67bd;
    transform: rotate(-40deg);
    filter: blur(90px);
}

.slide {
    height: 220px;
    width: 350px;
    background-color: rgb(217, 246, 255);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.control {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.pagination {
    width: 100%;
    height: 10px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-arrow {
    width: 50px;
    height: 50px;
    padding: 10px;
    color: black;
}

.slide .icon {
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide .icon span {
    display: inline-block;
    font-size: 80px;
    text-align: center;
    color: #53f599;

}

.slide .texts {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.slide .texts h3 {
    font-size: 20px;
    padding: 0px 0 10px 0;
    color: #171818;
}

.slide .texts p {
    font-size: 15px;
    color: #464747;
}

.swiper-pagination-bullet-active {
    color: #171818;
}

.section3 {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    z-index: 2;
}

.section3 .box1 {
    width: 50%;
    height: 100%;
    /* background-color:gray; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0 10px;
    z-index: 1;
}

.section3 .box2 {
    width: 50%;
    height: 100%;
    /* background-color:rgb(117, 59, 59); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.section3 .box1 h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.section3 .box1 p {
    font-size: 18px;
    color: #464747;
}

.section3 .box2 img {
    width: 100%;
    z-index: 1;
}

.section3 ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    color: #464747;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
}

li span {
    color: #17CF67;
}

.section3 h4 {
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.50;
    margin-top: 40px;
    color: #464747;
    padding-bottom: 15px;
}

.footer {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: fit-content;
    background-color: #00000075;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;

}

.footerContainer {
    width: 100%;
    max-width: 1300px;
    z-index: 3;

}

.footerdiv {
    width: 100%;
    height: fit-content;
    padding: 30px 0;
    z-index: 3;

}

.footerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;

}

.footerlinks {
    width: 20%;
    height: 120px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.grad6 {
    position: absolute;
    top: 90%;
    left: 0;
    width: 200px;
    height: 600px;
    border-radius: 50%;
    background-color: #17cf679d;
    transform: rotate(-40deg);
    filter: blur(80px);

}

.grad5 {
    position: absolute;
    top: 90%;
    left: 2%;
    width: 300px;
    height: 500px;
    border-radius: 50%;
    background-color: #2b8dcf93;
    transform: rotate(-40deg);
    filter: blur(90px);
    z-index: 1;

}

.btn-grad {
    background-image: linear-gradient(to right, #2B8ECF 0%, #17CF67 51%, #2B8ECF 100%);
    /* margin: 10px; */
    /* padding: 15px 45px; */
    width: 140px;
    height: 45px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
}

.two a {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.one h2 {
    font-size: 25px;
}

/* contactus */
.ContactSection {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    margin-top: 120px;
    padding: 20px;
    position: relative;
}

.ContactSection h2 {
    font-size: 40px;
    z-index: 3;
}

.combine {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.fromDiv {
    width: 70%;
    height: 400px;
}

.fromDiv2 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}

.fromDiv form {
    width: 100%;
    height: 100%;
    /* background-color: #2B8ECF; */
}

form .nameAndCompany,
form .emailAndPhone {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#name,
#company,
#email,
#phone {
    width: 48%;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: black;
    background-color: #17cf67;
    backdrop-filter: blur(10px);
    font-size: 18px;
    outline: none;
    /* box-shadow: 0px 8px 20px black; */
    z-index: 1;
}

::placeholder {
    color: #000000;
    font-size: 18px;
}

#message {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 10px;
    color: black;
    background-color: #17cf67;
    backdrop-filter: blur(10px);
    font-size: 18px;
    outline: none;
    margin-top: 10px;
    z-index: 1;
}

.ContactSection .grad {
    position: absolute;
    width: 600px;
    top: 50%;
    left: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #17cf67ad;
    transform: rotate(-40deg);
    filter: blur(80px);
}

.ContactSection .grad1 {
    position: absolute;
    left: 20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #2b8dcfab;
    transform: rotate(-40deg);
    filter: blur(90px);
}

.fromDiv2 .contact {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.fromDiv2 .contact h3 {
    display: inline-block;
    align-items: center;
    font-size: 30px;
    padding-left: 5px;
    text-align: center;
}



/* termspage */
.termsofUse {
    width: 100%;
    height: fit-content;
    margin-top: 120px;
    padding: 20px;
}

.termsofUse h2 {
    font-size: 40px;
    margin: 20px 0;
}



/* responsive navbar*/
.mobileNav {
    width: 0%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 999;
    overflow: hidden;
    backdrop-filter: blur(10px);
    float: right;
    padding:20px;
    display: none;
}
.mobileNav .link{
    width: 100%;
    height:40px;
    background-color: #17cf67;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu{
    font-size: 40px;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-right: 20px;
    height: fit-content;
}

@media (max-width: 1120px) {
    .mobileNav {
        display:none;
        width: 300px;
        right: 0px;
    }
    .menu{
        display: flex;
    }
    .navlinks{
        display: none;
    }
}